[submodule "reverse_proxy"]
	path = reverse_proxy
	url = git@github.com:ITISEnricoFermi/archivio-digitale-nginx.git
[submodule "client"]
	path = client
	url = git@github.com:ITISEnricoFermi/archivio-digitale-client.git
[submodule "server"]
	path = server
	url = git@github.com:ITISEnricoFermi/archivio-digitale-server.git
[submodule "mailer"]
	path = mailer
	url = git@github.com:ITISEnricoFermi/archivio-digitale-mailer.git
